# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=truckage
DB_USER=seu_usuario
DB_PASS=sua_senha

# AWS
AWS_ACCESS_KEY_ID=sua_chave_aws
AWS_SECRET_ACCESS_KEY=sua_chave_secreta_aws
AWS_REGION=us-east-1
AWS_BUCKET_NAME=seu_bucket

# JWT
JWT_SECRET=seu_segredo_jwt_aqui
JWT_EXPIRATION=86400000

# Email
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app

# Frontend
FRONTEND_URL=http://localhost:3000